---
layout: page
---

{% unless page.content == '' %}
{{ content }}
{% endunless %}
<h3>Contributions to books</h3>

<ul class="publications-list">
    {% for publication in site.publications %}
    {% if publication.paper_cat == "book" %}
    <li>
        {% include publication-item.html %}<br /><br />
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Peer-reviewed Journal Publications</h3>

<ul class="publications-list">
    {% for publication in site.publications %}
    {% if publication.paper_cat == "journal" %}
    <li>
        {% include publication-item.html %}<br /><br />
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Peer-reviewed Conference Publications</h3>

<ul class="publications-list">
    {% assign sorted = site.publications | sort: 'date' | reverse %}
    {% for publication in sorted %}
    {% if publication.paper_cat == "conference" %}
    <li>
        {% include publication-item.html %} <br /><br />
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Peer-reviewed Workshop Publications</h3>

<ul class="publications-list">
    {% assign sorted = site.publications | sort: 'date' | reverse %}
    {% for publication in sorted %}
    {% if publication.paper_cat == "workshop" %}
    <li>
        {% include publication-item.html %} <br /><br />
    </li>
    {% endif %}
    {% endfor %}
</ul>


