---
layout: page
---
{% unless page.content == '' %}
{{ content }}
{% endunless %}

<div class="pub-section">
  <div class="pub-section-header">Contributions to Books</div>
  {% for publication in site.publications %}
    {% if publication.paper_cat == "book" %}
      {% include publication-item.html %}
    {% endif %}
  {% endfor %}
</div>

<div class="pub-section">
  <div class="pub-section-header">Peer-reviewed Journal Publications</div>
  {% for publication in site.publications %}
    {% if publication.paper_cat == "journal" %}
      {% include publication-item.html %}
    {% endif %}
  {% endfor %}
</div>

<div class="pub-section">
  <div class="pub-section-header">Peer-reviewed Conference Publications</div>
  {% assign sorted = site.publications | sort: 'date' | reverse %}
  {% for publication in sorted %}
    {% if publication.paper_cat == "conference" %}
      {% include publication-item.html %}
    {% endif %}
  {% endfor %}
</div>

<div class="pub-section">
  <div class="pub-section-header">Peer-reviewed Workshop Publications</div>
  {% assign sorted = site.publications | sort: 'date' | reverse %}
  {% for publication in sorted %}
    {% if publication.paper_cat == "workshop" %}
      {% include publication-item.html %}
    {% endif %}
  {% endfor %}
</div>

<div class="pub-section">
  <div class="pub-section-header">Dissertation / Ph.D. Thesis</div>
  {% for publication in site.publications %}
    {% if publication.paper_cat == "diss" %}
      {% include publication-item.html %}
    {% endif %}
  {% endfor %}
</div>